<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woosii.biz">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!--友盟需要权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--微信需要权限-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_big"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--语音回答-->
        <activity android:name=".ui.AnswerModelActivity">
        </activity>
        <!--登录注册-->
        <activity android:name=".ui.login.activity.LoginActivity"
            android:theme="@style/AppThemeType">
        </activity>

        <!--忘记密码-->
        <activity android:name=".ui.login.activity.ForgetPasswordActivity"
            android:theme="@style/AppThemeType">
        </activity>

        <!--绑定手机号-->
        <activity android:name=".ui.login.activity.BindingPhoneActivity"
            android:theme="@style/AppThemeType">
        </activity>
        <!--新闻详情-->
        <activity android:name=".ui.home.activity.NewsDetailActivity">   </activity>
        <!--课程详情-->
        <activity android:name=".ui.course.activity.CourseDetailActivity">
            </activity>
        <!--预习题-->
        <activity android:name=".ui.course.activity.PreviewQuestionsActivity">
        </activity>

        <!--提问-->
        <activity android:name=".ui.course.activity.AskActivity"></activity>
        <!--开通会员-->
        <activity android:name=".ui.course.activity.OpenMembershipActivity"></activity>
        <!--选择学院-->
        <activity android:name=".ui.course.activity.SelectCollegeActivity"></activity>
        <!--课程二维码-->
        <activity android:name=".ui.me.activity.CourseCodeActivity">
        </activity>
        <!--编辑资料-->
        <activity android:name=".ui.me.activity.EditProfileActivity">
        </activity>
        <!--设置-->
        <activity android:name=".ui.me.activity.SettingActivity">
        </activity>
        <!--我的问答-->
        <activity android:name=".ui.me.activity.MyQuestionAnswerActivity">
        </activity>

        <!--关于我们-->
        <activity android:name=".ui.me.activity.AboutUsActivity">
        </activity>

        <!--修改密码-->
        <activity android:name=".ui.me.activity.UpdatePasswordActivity">
        </activity>
        <!--签到成功-->
        <activity android:name=".ui.home.activity.SignSuccessActivity">
        </activity>
        <!--图片剪辑-->
        <activity
            android:name=".ui.ClipHeaderActivity"
            android:screenOrientation="portrait" />
        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- 微信登录 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTransparentTheme"
         />
        <!--    android:theme="@android:style/Theme.Translucent"-->

        <!--QQ完整版-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--分享编辑页(只有新浪微博精简版,豆瓣人人腾讯微博需要)-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59c31b91f5ade442b0000032" >
        </meta-data>


        <!-- 适配7.0调用系统控件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.woosii.takephoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data
            android:name="com.woosii.biz.utils.GlideConfiguration"
            android:value="GlideModule" />
    </application>

</manifest>